#################### Files to exclude ####################
# log files
*.log

# environment files
**.env**

# Certificate files
**.crt**
**.key**
**.pem**

################### Folders to exclude ###################
# IDE folders
**vscode**
**idea**

# cache folders
**cache**

# environment folders
**env**

# logs folders
**logs**

# data folders
**data**

# letsencrypt folder
**letsencrypt**

################## Files not to exclude ##################
!.env.example

################# Folders not to exclude #################
