# These groups are read by MariaDB server.

# this is read by the standalone daemon and embedded servers
[server]


# this is only for the mariadbd daemon
[mariadbd]


#
# * Basic Settings
#
user            = mysql
pid-file        = /run/mysqld/mysqld.pid
basedir         = /usr
bind-address    = 0.0.0.0

#
# * Replication
#
server-id           = 1
log_bin             = /var/log/mysql/mysql-bin.log
expire_logs_days    = 1
max_binlog_size     = 100M

#
# * SSL/TLS
#
# https://mariadb.com/kb/en/securing-connections-for-client-and-server/
ssl-cert                    = /etc/mysql/certificates/cert.crt
ssl-key                     = /etc/mysql/certificates/private.key
ssl-ca                      = /etc/mysql/certificates/ca.pem
require-secure-transport    = on

#
# * Character sets
#
character-set-server    = utf8mb4


# this is only for embedded server
[embedded]


# This group is only read by MariaDB servers, not by MySQL.
# If you use the same .cnf file for MySQL and MariaDB,
# you can put MariaDB-only options here
[mariadbd]


# This group is only read by MariaDB-11.3 servers.
# If you use the same .cnf file for MariaDB of different versions,
# use this group for options that older servers don't understand
[mariadb-11.3]
